# Big Data (UBA) -  2024

## Trabajo Práctico 4

### Grupo 2
- Jimena Teran 
- Juan Lynch
- Renzo Falciglia

### Parte I: Analizando la base

#### Ejercicio 2
En este ejercicio se cargan los archivos y se unen a la base del TP3.

In [10]:
#Ejercicio 2

#Importamos los paquetes necesarios y cargamos el archivo del 1T de 2004

import pandas as pd
import pyreadstat
import matplotlib.pyplot as plt
import numpy as np
import pyarrow


#Cargamos la base de hogares de 2004
archivo_dta = "EPH_1T2004/Hogar_t104.dta"
df_2004 = pd.read_stata(archivo_dta)
print(df_2004.head())

#Cargamos la base de hogares de 2024
archivo_txt = "EPH_1T2024/usu_hogar_t124.txt"
df_2024 = pd.read_csv(archivo_txt,  sep=";")
print(df_2024.head())

     CODUSU  nro_hogar realizada    ano4       trimestre    region mas_500  \
0  125051          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
1  125082          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
2  125181          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
3  125283          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S
4  126192          1.0        Sí  2004.0  1er. Trimestre  Pampeana       S

      aglomerado  pondera   iv1  ... gdeccfr pdeccfr adeccfr vii1_1 vii1_2  \
0  Gran La Plata    355.0  Casa  ...      01              01    1.0    0.0
1  Gran La Plata    306.0  Casa  ...      03              02    2.0    0.0
2  Gran La Plata    541.0  Casa  ...      09              09    2.0    0.0
3  Gran La Plata    255.0  Casa  ...      07              07    1.0    2.0
4  Gran La Plata    218.0  Casa  ...      08              08    2.0    0.0

                                 vii2_1 vii2_2 vii2_3 vii2_4 idimph
0                                   3.0    0.0    0.0    0.0  00000
1                                  98.0    0.0    0.0    0.0  10000
2                                   1.0    3.0    0.0    0.0  00000
3                                   3.0    4.0    0.0    0.0  10000
4  Otra persona que no vive en el hogar    0.0    0.0    0.0  10000

[5 rows x 88 columns]
                          CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  REALIZADA  \
0  TQRMNORPSHLOLMCDEFNFF00852337  2024          1          1          1
1  TQRMNOPRYHKOKTCDEFNFF00856789  2024          1          1          1
2  TQTMNORRSHKOKTCDEFNFF00856790  2024          1          1          1
3  TQRMNORRSHKOKTCDEFNFF00856791  2024          1          1          1
4  TQRMNOQTVHKLLLCDEFNFF00856792  2024          1          1          1

   REGION MAS_500  AGLOMERADO  PONDERA  IV1  ... GDECCFR  PDECCFR  ADECCFR  \
0      41       N           7      179    1  ...     NaN      5.0        5
1      41       N           7      313    1  ...     NaN     12.0       12
2      41       N           7      286    1  ...     NaN      8.0        9
3      41       N           7      306    1  ...     NaN      5.0        6
4      41       N           7      361    1  ...     NaN      6.0        7

  PONDIH  VII1_1  VII1_2  VII2_1  VII2_2 VII2_3  VII2_4
0    212       1       2      98       0      0       0
1      0       1       0       2       0      0       0
2    401       2       0       1       0      0       0
3    438       2       0       3       0      0       0
4    831       1       0       2       0      0       0

[5 rows x 88 columns]

In [11]:
#Cambio los nombres
df_2004.columns = df_2004.columns.str.upper()
print(df_2004.columns)
print(df_2024.columns)

Index(['CODUSU', 'NRO_HOGAR', 'REALIZADA', 'ANO4', 'TRIMESTRE', 'REGION',
       'MAS_500', 'AGLOMERADO', 'PONDERA', 'IV1', 'IV1_ESP', 'IV2', 'IV3',
       'IV3_ESP', 'IV4', 'IV5', 'IV6', 'IV7', 'IV7_ESP', 'IV8', 'IV9', 'IV10',
       'IV11', 'IV12_1', 'IV12_2', 'IV12_3', 'II1', 'II2', 'II3', 'II3_1',
       'II4_1', 'II4_2', 'II4_3', 'II5', 'II5_1', 'II6', 'II6_1', 'II7',
       'II7_ESP', 'II8', 'II8_ESP', 'II9', 'V1', 'V2', 'V21', 'V22', 'V3',
       'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14',
       'V15', 'V16', 'V17', 'V18', 'V19_A', 'V19_B', 'IX_TOT', 'IX_MEN10',
       'IX_MAYEQ10', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR',
       'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR',
       'PDECCFR', 'ADECCFR', 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2', 'VII2_3',
       'VII2_4', 'IDIMPH'],
      dtype='object')
Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'REALIZADA', 'REGION',
       'MAS_500', 'AGLOMERADO', 'PONDERA', 'IV1', 'IV1_ESP', 'IV2', 'IV3',
       'IV3_ESP', 'IV4', 'IV5', 'IV6', 'IV7', 'IV7_ESP', 'IV8', 'IV9', 'IV10',
       'IV11', 'IV12_1', 'IV12_2', 'IV12_3', 'II1', 'II2', 'II3', 'II3_1',
       'II4_1', 'II4_2', 'II4_3', 'II5', 'II5_1', 'II6', 'II6_1', 'II7',
       'II7_ESP', 'II8', 'II8_ESP', 'II9', 'V1', 'V2', 'V21', 'V22', 'V3',
       'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14',
       'V15', 'V16', 'V17', 'V18', 'V19_A', 'V19_B', 'IX_TOT', 'IX_MEN10',
       'IX_MAYEQ10', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR',
       'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR',
       'PDECCFR', 'ADECCFR', 'PONDIH', 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2',
       'VII2_3', 'VII2_4'],
      dtype='object')

In [12]:
#Filtro los aglomerados que no corresponden a CABA o a partidos del Gran Buenos Aires

df_2004 = df_2004[df_2004["AGLOMERADO"].isin(["Ciudad de Buenos Aires", "Partidos del GBA"])]
df_2024 = df_2024[df_2024["AGLOMERADO"].isin([32, 33])]

In [13]:
#Filtro por las variables de interés para predecir el desempleo

variables_filtrar = ["CODUSU", "NRO_HOGAR", "AGLOMERADO", "ITF", "IPCF", "DECIFR", "DECCFR", "IV1", "II1", "II2", "V5", "IX_TOT"]

#Filtramos en la base de 2004
df_2004 = df_2004[variables_filtrar]

#Filtramos en la base de 2024
df_2024 = df_2024[variables_filtrar]

In [14]:
#Cargamos la bbdd del TP3, que la generé con el script "TP4_UBA_bbdd_TP3.ipynb"

df_individual = pd.read_parquet('datos.individual')
print(df_individual)

       AGLOMERADO                         CODUSU  NRO_HOGAR  CH04  CH06  CH07  \
0            32.0                         125098        1.0   1.0  79.0   4.0
1            32.0                         125397        1.0   2.0  67.0   3.0
2            32.0                         125515        1.0   2.0  74.0   4.0
3            32.0                         125558        1.0   1.0  54.0   2.0
4            32.0                         125558        1.0   2.0  51.0   2.0
...           ...                            ...        ...   ...   ...   ...
13565        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   2.0  43.0   3.0
13566        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   1.0  21.0   5.0
13567        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   1.0  20.0   5.0
13568        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   1.0  11.0   5.0
13569        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   2.0  24.0   5.0

       CH08  NIVEL_ED  ESTADO  CAT_INAC   IPCF       P21   ORIGEN
0       1.0       3.0     3.0       1.0  368.0       0.0  T1_2004
1       4.0       2.0     1.0       0.0    0.0       0.0  T1_2004
2       1.0       2.0     3.0       1.0  440.0       0.0  T1_2004
3       2.0       2.0     1.0       0.0  532.5    2000.0  T1_2004
4       2.0       6.0     3.0       4.0  532.5       0.0  T1_2004
...     ...       ...     ...       ...    ...       ...      ...
13565   1.0       3.0     1.0       0.0    0.0  250000.0  T1_2024
13566   1.0       3.0     0.0       0.0    0.0       0.0  T1_2024
13567   1.0       3.0     0.0       0.0    0.0       0.0  T1_2024
13568   1.0       3.0     0.0       0.0    0.0       0.0  T1_2024
13569   1.0       5.0     0.0       0.0    0.0       0.0  T1_2024

[13570 rows x 13 columns]

In [15]:
print(df_individual)

       AGLOMERADO                         CODUSU  NRO_HOGAR  CH04  CH06  CH07  \
0            32.0                         125098        1.0   1.0  79.0   4.0
1            32.0                         125397        1.0   2.0  67.0   3.0
2            32.0                         125515        1.0   2.0  74.0   4.0
3            32.0                         125558        1.0   1.0  54.0   2.0
4            32.0                         125558        1.0   2.0  51.0   2.0
...           ...                            ...        ...   ...   ...   ...
13565        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   2.0  43.0   3.0
13566        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   1.0  21.0   5.0
13567        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   1.0  20.0   5.0
13568        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   1.0  11.0   5.0
13569        33.0  TQRMNOPUQHKMKNCDEIJAH00861661        1.0   2.0  24.0   5.0

       CH08  NIVEL_ED  ESTADO  CAT_INAC   IPCF       P21   ORIGEN
0       1.0       3.0     3.0       1.0  368.0       0.0  T1_2004
1       4.0       2.0     1.0       0.0    0.0       0.0  T1_2004
2       1.0       2.0     3.0       1.0  440.0       0.0  T1_2004
3       2.0       2.0     1.0       0.0  532.5    2000.0  T1_2004
4       2.0       6.0     3.0       4.0  532.5       0.0  T1_2004
...     ...       ...     ...       ...    ...       ...      ...
13565   1.0       3.0     1.0       0.0    0.0  250000.0  T1_2024
13566   1.0       3.0     0.0       0.0    0.0       0.0  T1_2024
13567   1.0       3.0     0.0       0.0    0.0       0.0  T1_2024
13568   1.0       3.0     0.0       0.0    0.0       0.0  T1_2024
13569   1.0       5.0     0.0       0.0    0.0       0.0  T1_2024

[13570 rows x 13 columns]

In [16]:
#Se hace la unión de la base individual con las bases de hogares

# Realizar el merge entre df_individual y df_2004
df_merge_2004 = pd.merge(df_individual, df_2004, on=['CODUSU', 'NRO_HOGAR'], how='left')

# Realizar el merge entre el resultado anterior y df_2024
df_final = pd.merge(df_merge_2004, df_2024, on=['CODUSU', 'NRO_HOGAR'], how='left')

# Mostrar las primeras filas del DataFrame resultante
print(df_final.head())

   AGLOMERADO_x  CODUSU  NRO_HOGAR  CH04  CH06  CH07  CH08  NIVEL_ED  ESTADO  \
0          32.0  125098        1.0   1.0  79.0   4.0   1.0       3.0     3.0
1          32.0  125397        1.0   2.0  67.0   3.0   4.0       2.0     1.0
2          32.0  125515        1.0   2.0  74.0   4.0   1.0       2.0     3.0
3          32.0  125558        1.0   1.0  54.0   2.0   2.0       2.0     1.0
4          32.0  125558        1.0   2.0  51.0   2.0   2.0       6.0     3.0

   CAT_INAC  ...  AGLOMERADO  ITF_y IPCF DECIFR_y  DECCFR_y  IV1_y II1_y  \
0       1.0  ...         NaN    NaN  NaN      NaN       NaN    NaN   NaN
1       0.0  ...         NaN    NaN  NaN      NaN       NaN    NaN   NaN
2       1.0  ...         NaN    NaN  NaN      NaN       NaN    NaN   NaN
3       0.0  ...         NaN    NaN  NaN      NaN       NaN    NaN   NaN
4       4.0  ...         NaN    NaN  NaN      NaN       NaN    NaN   NaN

  II2_y V5_y IX_TOT_y
0   NaN  NaN      NaN
1   NaN  NaN      NaN
2   NaN  NaN      NaN
3   NaN  NaN      NaN
4   NaN  NaN      NaN

[5 rows x 33 columns]