# Big Data (UBA) -  2024

## Trabajo Práctico 4

### Grupo 2
- Jimena Teran 
- Juan Lynch
- Renzo Falciglia

### Armo la bbdd del TP3

In [3]:
#Importamos los paquetes necesarios y cargamos el archivo del 1T de 2004

import pandas as pd
import pyreadstat
import matplotlib.pyplot as plt
import numpy as np
import pyarrow


#Cargamos archivo .sav
ruta_sav = "../TP3/EPH_1T2004/Individual_t104.sav"
df_2004, meta_2004 = pyreadstat.read_sav(ruta_sav)

#Cargamos el archivo del 1T 2024
ruta_txt = "../TP3/EPH_1T2024/usu_individual_T124.txt"
df_2024 = pd.read_csv(ruta_txt, delimiter=";") 

print(df_2004)
print(df_2024)

C:\Users\renzo\AppData\Local\Temp\ipykernel_39208\1133262670.py:16: DtypeWarning: Columns (102,105) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv(ruta_txt, delimiter=";")

       CODUSU  nro_hogar  componente  h15    ano4  trimestre  region mas_500  \
0      125098        1.0         1.0  1.0  2004.0        1.0     1.0       S
1      125397        1.0         1.0  1.0  2004.0        1.0     1.0       S
2      125515        1.0         1.0  1.0  2004.0        1.0     1.0       S
3      125558        1.0         1.0  1.0  2004.0        1.0     1.0       S
4      125558        1.0         2.0  1.0  2004.0        1.0     1.0       S
...       ...        ...         ...  ...     ...        ...     ...     ...
45284  285733        1.0         1.0  1.0  2004.0        1.0    44.0       N
45285  285733        1.0         2.0  1.0  2004.0        1.0    44.0       N
45286  285733        1.0         3.0  1.0  2004.0        1.0    44.0       N
45287  285733        1.0         4.0  0.0  2004.0        1.0    44.0       N
45288  285733        1.0         5.0  0.0  2004.0        1.0    44.0       N

       aglomerado  pondera  ...  deccfr  ideccfr  rdeccfr  gdeccfr  pdeccfr  \
0            32.0   1299.0  ...      07                06       06
1            32.0   2018.0  ...      00                00       00
2            32.0   1486.0  ...      07                07       07
3            32.0   1674.0  ...      08                08       08
4            32.0   1674.0  ...      08                08       08
...           ...      ...  ...     ...      ...      ...      ...      ...
45284        31.0    123.0  ...      09       09       08                09
45285        31.0    123.0  ...      09       09       08                09
45286        31.0    123.0  ...      09       09       08                09
45287        31.0    123.0  ...      09       09       08                09
45288        31.0    123.0  ...      09       09       08                09

       adeccfr  pj1_1  pj2_1  pj3_1  idimpp
0           04    0.0    0.0    0.0   00000
1           00    0.0    0.0    0.0   00000
2           05    0.0    0.0    0.0   00020
3           06    0.0    0.0    0.0   00000
4           06    0.0    0.0    0.0   00000
...        ...    ...    ...    ...     ...
45284       07    0.0    0.0    0.0   00000
45285       07    0.0    0.0    0.0   00000
45286       07    0.0    0.0    0.0   00000
45287       07    0.0    0.0    0.0   00000
45288       07    0.0    0.0    0.0   00000

[45289 rows x 176 columns]
                              CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
0      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           3
1      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           4
2      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           5
3      TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           1
4      TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           2
...                              ...   ...        ...        ...         ...
46045  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           1
46046  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           2
46047  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           3
46048  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           4
46049  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           5

       H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR  \
0        1      42       S          10      439  ...      NaN       12
1        1      42       S          10      439  ...      NaN       12
2        0      42       S          10      439  ...      NaN       12
3        1      42       S          10      675  ...      NaN        8
4        1      42       S          10      675  ...      NaN        8
...    ...     ...     ...         ...      ...  ...      ...      ...
46045    1       1       S          33     3410  ...      NaN       12
46046    2       1       S          33     3410  ...      NaN       12
46047    2       1       S          33     3410  ...      NaN       12
46048    2       1       S          33     3410  ...      NaN       12
46049    2       1       S          33     3410  ...      NaN       12

         IPCF  DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
0           0      12     12.0       12     12.0      NaN       12       0
1           0      12     12.0       12     12.0      NaN       12       0
2           0      12     12.0       12     12.0      NaN       12       0
3      212500       6      6.0        6      6.0      NaN        6    1610
4      212500       6      6.0        6      6.0      NaN        6    1610
...       ...     ...      ...      ...      ...      ...      ...     ...
46045       0      12      NaN       12     12.0      NaN       12       0
46046       0      12      NaN       12     12.0      NaN       12       0
46047       0      12      NaN       12     12.0      NaN       12       0
46048       0      12      NaN       12     12.0      NaN       12       0
46049       0      12      NaN       12     12.0      NaN       12       0

[46050 rows x 177 columns]

In [4]:
#Primero convierto los nombres del df de 2004 a mayúscula así están igual en ambas bases

#Cambio los nombres
df_2004.columns = df_2004.columns.str.upper()
print(df_2004.columns)

Index(['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR',
       'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP'],
      dtype='object', length=176)

In [5]:
#Definimos las variables que necesitaremos de ambas bases para poder hacer la unión

variables_filtrar = ["AGLOMERADO", "CODUSU", "NRO_HOGAR", "CH04", "CH06", "CH07", "CH08", "NIVEL_ED", "ESTADO", "CAT_INAC", "IPCF", "P21"]

#Filtramos en la base de 2004
df_2004_filtrado = df_2004[variables_filtrar]

#Filtramos en la base de 2024
df_2024_filtrado = df_2024[variables_filtrar]

#Unión de los df

#Ordenamos las columnas por si están en diferente orden
df_2024_filtrado = df_2024_filtrado[df_2004_filtrado.columns]

#Agregamos una columna de origen a cada df
df_2004_filtrado["ORIGEN"] = "T1_2004"
df_2024_filtrado["ORIGEN"] = "T1_2024"

#Unimos verticalmente y verificamos los resultados
df_union = pd.concat([df_2004_filtrado, df_2024_filtrado], ignore_index=True)

print(df_union.head())

   AGLOMERADO  CODUSU  NRO_HOGAR  CH04  CH06  CH07  CH08  NIVEL_ED  ESTADO  \
0        32.0  125098        1.0   1.0  79.0   4.0   1.0       3.0     3.0
1        32.0  125397        1.0   2.0  67.0   3.0   4.0       2.0     1.0
2        32.0  125515        1.0   2.0  74.0   4.0   1.0       2.0     3.0
3        32.0  125558        1.0   1.0  54.0   2.0   2.0       2.0     1.0
4        32.0  125558        1.0   2.0  51.0   2.0   2.0       6.0     3.0

   CAT_INAC   IPCF     P21   ORIGEN
0       1.0  368.0     0.0  T1_2004
1       0.0    0.0     0.0  T1_2004
2       1.0  440.0     0.0  T1_2004
3       0.0  532.5  2000.0  T1_2004
4       4.0  532.5     0.0  T1_2004

C:\Users\renzo\AppData\Local\Temp\ipykernel_39208\2165366522.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2004_filtrado["ORIGEN"] = "T1_2004"

In [6]:
#Filtro los aglomerados que no corresponden a CABA o a partidos del Gran Buenos Aires

df_union_filtrado = df_union[df_union["AGLOMERADO"].isin([32, 33])]
print(df_union_filtrado.head())

   AGLOMERADO  CODUSU  NRO_HOGAR  CH04  CH06  CH07  CH08  NIVEL_ED  ESTADO  \
0        32.0  125098        1.0   1.0  79.0   4.0   1.0       3.0     3.0
1        32.0  125397        1.0   2.0  67.0   3.0   4.0       2.0     1.0
2        32.0  125515        1.0   2.0  74.0   4.0   1.0       2.0     3.0
3        32.0  125558        1.0   1.0  54.0   2.0   2.0       2.0     1.0
4        32.0  125558        1.0   2.0  51.0   2.0   2.0       6.0     3.0

   CAT_INAC   IPCF     P21   ORIGEN
0       1.0  368.0     0.0  T1_2004
1       0.0    0.0     0.0  T1_2004
2       1.0  440.0     0.0  T1_2004
3       0.0  532.5  2000.0  T1_2004
4       4.0  532.5     0.0  T1_2004

In [7]:
#Elimino las observaciones que tienen negativo en ingresos y en edad

df_union_filtrado = df_union_filtrado[(df_union_filtrado['CH06'] >= 0) & (df_union_filtrado['P21'] >= 0)]

# Convierto las columnas de IPCF y P21 en numéricas, forzando los errores a NaN
df_union_filtrado['IPCF'] = pd.to_numeric(df_union_filtrado['IPCF'], errors='coerce')
df_union_filtrado['P21'] = pd.to_numeric(df_union_filtrado['P21'], errors='coerce')

In [8]:
#Guardo la bbdd en un formato más práctico para usar en el TP4

# Guardar como Parquet
df_union_filtrado.to_parquet('datos.individual', index=False)